  ### Statistics for CS
 **Section A**
  <br> **5th sem**
### CASE STUDY

### GROUP MEMBERS 
 <br> **LAXMI**(22BCS059)
<br> **ARPITA**(22BCS017)
<br> **B. BABITHA**(22BCS026)

## **Depression Dataset**

## UNIT-I

### Sampling Techniques and Data Collection Methods

**Probability Sampling Methods:**

**1.Simple Random Sampling**

 Randomly selects n rows from the data.

In [1]:
import pandas as pd
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def simple_random_sampling(data, n):
    return data.sample(n=n)

sample_random = simple_random_sampling(data, 10)
print("Simple Random Sampling:\n", sample_random)

Simple Random Sampling:
              Name  Gender  Age       City Working Professional or Student  \
1850       Kartik    Male   47     Rajkot            Working Professional
245       Hrithik    Male   41  Ahmedabad            Working Professional
1323       Aniket    Male   38     Bhopal            Working Professional
1736       Chhavi  Female   43      Patna            Working Professional
1273      Kashish  Female   40  Faridabad            Working Professional
2209        Darsh    Male   46    Lucknow            Working Professional
152        Shreya  Female   34  Faridabad                         Student
881   Raghavendra    Male   58    Lucknow            Working Professional
505       Reyansh    Male   38  Bangalore            Working Professional
1505        Pooja  Female   46      Surat            Working Professional

             Profession  Academic Pressure  Work Pressure  CGPA  \
1850          Architect                NaN            1.0   NaN
245          Pharmacist                NaN            3.0   NaN
1323  Software Engineer                NaN            4.0   NaN
1736     Content Writer                NaN            3.0   NaN
1273  Marketing Manager                NaN            2.0   NaN
2209    Sales Executive                NaN            4.0   NaN
152                 NaN                3.0            NaN  9.49
881               Pilot                NaN            4.0   NaN
505   Travel Consultant                NaN            1.0   NaN
1505         Consultant                NaN            5.0   NaN

      Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
1850                 NaN               3.0          7-8 hours        Healthy
245                  NaN               2.0          7-8 hours      Unhealthy
1323                 NaN               1.0          7-8 hours       Moderate
1736                 NaN               2.0  Less than 5 hours        Healthy
1273                 NaN               4.0  More than 8 hours       Moderate
2209                 NaN               1.0          7-8 hours      Unhealthy
152                  4.0               NaN  Less than 5 hours      Unhealthy
881                  NaN               5.0  More than 8 hours       Moderate
505                  NaN               2.0  Less than 5 hours      Unhealthy
1505                 NaN               4.0  Less than 5 hours        Healthy

       Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
1850   B.Arch                                   Yes                 1
245   M.Pharm                                    No                 2
1323      BSc                                    No                 2
1736     B.Ed                                   Yes                 9
1273       MA                                    No                11
2209      MBA                                   Yes                 9
152        BE                                   Yes                12
881       BCA                                   Yes                 5
505       MHM                                    No                 9
1505    B.Com                                    No                 3

      Financial Stress Family History of Mental Illness Depression
1850                 4                              Yes         No
245                  3                               No         No
1323                 3                              Yes         No
1736                 3                              Yes         No
1273                 4                              Yes         No
2209                 2                              Yes         No
152                  1                              Yes        Yes
881                  5                              Yes         No
505                  2                              Yes         No
1505                 5                               No         No

**2. Systematic Sampling**

Selects every k-th element by setting the step size.

In [3]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def systematic_sampling(data, sample_size):
    step = 2000 // sample_size 
    indices = np.arange(0, len(data), step)
    return data.iloc[indices[:sample_size]]

sample_systematic = systematic_sampling(data, 16)
print("Systematic Sampling:\n", sample_systematic)

Systematic Sampling:
            Name  Gender  Age       City Working Professional or Student  \
0         Pooja  Female   37  Ghaziabad            Working Professional
125      Aahana  Female   33     Rajkot                         Student
250   Kartikeya    Male   57     Meerut            Working Professional
375       Janvi  Female   20     Meerut            Working Professional
500      Atharv    Male   58       Agra            Working Professional
625        Anvi  Female   28   Vadodara                         Student
750      Ayansh    Male   34       Agra                         Student
875      Prisha  Female   48    Lucknow            Working Professional
1000        Jai    Male   54     Jaipur            Working Professional
1125     Atharv    Male   60   Vadodara            Working Professional
1250     Harsha    Male   22     Nashik            Working Professional
1375      Rupak    Male   23     Rajkot            Working Professional
1500     Siddhi  Female   24       Agra                         Student
1625      Kriti  Female   19     Meerut            Working Professional
1750      Aarav    Male   18   Ludhiana                         Student
1875     Vikram    Male   54      Delhi            Working Professional

             Profession  Academic Pressure  Work Pressure  CGPA  \
0               Teacher                NaN            2.0   NaN
125                 NaN                3.0            NaN  8.52
250             Manager                NaN            2.0   NaN
375                 NaN                NaN            5.0   NaN
500         Electrician                NaN            5.0   NaN
625                 NaN                1.0            NaN  5.83
750                 NaN                1.0            NaN  9.36
875        Entrepreneur                NaN            5.0   NaN
1000     Civil Engineer                NaN            5.0   NaN
1125            Manager                NaN            3.0   NaN
1250  Travel Consultant                NaN            3.0   NaN
1375         Consultant                NaN            4.0   NaN
1500                NaN                4.0            NaN  8.21
1625                NaN                NaN            3.0   NaN
1750                NaN                3.0            NaN  5.03
1875              Judge                NaN            3.0   NaN

      Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                    NaN               4.0          7-8 hours       Moderate
125                  2.0               NaN          7-8 hours       Moderate
250                  NaN               1.0          5-6 hours      Unhealthy
375                  NaN               2.0  More than 8 hours       Moderate
500                  NaN               4.0  Less than 5 hours      Unhealthy
625                  2.0               NaN          5-6 hours        Healthy
750                  3.0               NaN  More than 8 hours       Moderate
875                  NaN               1.0          5-6 hours        Healthy
1000                 NaN               4.0  More than 8 hours        Healthy
1125                 NaN               1.0  More than 8 hours        Healthy
1250                 NaN               4.0          7-8 hours        Healthy
1375                 NaN               3.0  More than 8 hours      Unhealthy
1500                 4.0               NaN          7-8 hours       Moderate
1625                 NaN               2.0  Less than 5 hours        Healthy
1750                 4.0               NaN          5-6 hours        Healthy
1875                 NaN               3.0  Less than 5 hours      Unhealthy

        Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0           MA                                    No                 6
125        MSc                                    No                11
250        BHM                                    No                 4
375   Class 12                                   Yes                 0
500         ME                                    No                 1
625        BBA                                   Yes                 3
750        BBA                                   Yes                 8
875         ME                                   Yes                 5
1000       MSc                                    No                 2
1125       MHM                                   Yes                 2
1250       BHM                                   Yes                10
1375       MCA                                    No                 3
1500   B.Pharm                                    No                 0
1625  Class 12                                   Yes                 3
1750  Class 12                                   Yes                 8
1875       LLB                                    No                11

      Financial Stress Family History of Mental Illness Depression
0                    2                               No         No
125                  5                              Yes         No
250                  4                               No         No
375                  2                               No        Yes
500                  1                               No         No
625                  4                              Yes         No
750                  1                               No         No
875                  1                              Yes         No
1000                 4                               No         No
1125                 2                               No         No
1250                 2                              Yes        Yes
1375                 1                               No         No
1500                 4                              Yes         No
1625                 5                               No        Yes
1750                 4                              Yes        Yes
1875                 4                              Yes         No

**3.Stratified Sampling:**

Ensures representation from each subgroup by grouping by a column (e.g., Gender) and then sampling equally from each group.
<br>Stratify by 'Gender', selecting a total of 10 samples across groups

In [5]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def stratified_sampling(data, stratify_by, sample_size):
    strata = data.groupby(stratify_by, group_keys=False)
    stratified_sample = strata.apply(lambda x: x.sample(n=sample_size // len(strata)), include_groups=False)
    return stratified_sample

sample_stratified = stratified_sampling(data, 'Gender', 10)
print("Stratified Sampling:\n", sample_stratified)

Stratified Sampling:
           Name  Age           City Working Professional or Student  \
2394     Sanya   40         Meerut            Working Professional
27    Aaradhya   51    Vasai-Virar            Working Professional
1156      Mira   36  Visakhapatnam            Working Professional
1994   Tanisha   49          Delhi            Working Professional
369     Saanvi   27          Patna                         Student
2460    Keshav   21         Jaipur                         Student
763   Shivansh   48  Visakhapatnam            Working Professional
1194     Ritik   51        Kolkata            Working Professional
2247    Chirag   28       Varanasi                         Student
1055     Aarav   48         Kalyan            Working Professional

               Profession  Academic Pressure  Work Pressure  CGPA  \
2394              Teacher                NaN            5.0   NaN
27                    NaN                NaN            5.0   NaN
1156         Entrepreneur                NaN            5.0   NaN
1994       Civil Engineer                NaN            5.0   NaN
369                   NaN                4.0            NaN  6.42
2460                  NaN                2.0            NaN  8.23
763   Mechanical Engineer                NaN            2.0   NaN
1194                  NaN                NaN            4.0   NaN
2247                  NaN                3.0            NaN  7.70
1055                 Chef                NaN            4.0   NaN

      Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
2394                 NaN               4.0  Less than 5 hours        Healthy
27                   NaN               5.0          7-8 hours        Healthy
1156                 NaN               3.0  More than 8 hours        Healthy
1994                 NaN               5.0  Less than 5 hours        Healthy
369                  2.0               NaN          7-8 hours      Unhealthy
2460                 3.0               NaN          5-6 hours      Unhealthy
763                  NaN               1.0  More than 8 hours       Moderate
1194                 NaN               2.0  Less than 5 hours        Healthy
2247                 5.0               NaN          5-6 hours       Moderate
1055                 NaN               1.0          7-8 hours       Moderate

        Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
2394       MCA                                    No                 9
27    Class 12                                   Yes                 7
1156       MBA                                    No                 7
1994        BE                                   Yes                 4
369        MSc                                   Yes                 0
2460  Class 12                                   Yes                 6
763     M.Tech                                    No                 2
1194  Class 12                                   Yes                 0
2247     B.Com                                   Yes                10
1055       MHM                                    No                11

      Financial Stress Family History of Mental Illness Depression
2394                 5                               No         No
27                   5                               No         No
1156                 4                              Yes         No
1994                 1                               No         No
369                  2                               No        Yes
2460                 5                              Yes        Yes
763                  2                               No         No
1194                 5                              Yes         No
2247                 4                              Yes        Yes
1055                 3                              Yes         No

**4. Cluster Sampling**

 Randomly selects specific clusters (e.g., cities), including all data from the selected clusters.
 <br>Cluster by 'City', selecting 2 random cities, with 5 samples from each city

In [7]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def cluster_sampling(data, cluster_by, num_clusters, sample_size_per_cluster):
    clusters = data[cluster_by].unique()
    selected_clusters = np.random.choice(clusters, size=num_clusters, replace=False)
    cluster_sample = data[data[cluster_by].isin(selected_clusters)]
    return cluster_sample.groupby(cluster_by, group_keys=False).apply(lambda x: x.sample(n=sample_size_per_cluster), include_groups=False).reset_index(drop=True)

sample_cluster = cluster_sampling(data, 'City', 2, 5)
print("Cluster Sampling:\n", sample_cluster)

Cluster Sampling:
       Name  Gender  Age Working Professional or Student           Profession  \
0   Tushar    Male   48            Working Professional              Teacher
1   Raghav    Male   60            Working Professional  Mechanical Engineer
2     Riya  Female   48            Working Professional       Civil Engineer
3    Vibha  Female   58            Working Professional              Teacher
4   Khushi  Female   31                         Student                  NaN
5  Shanaya  Female   33            Working Professional           HR Manager
6     Pihu  Female   57            Working Professional                Pilot
7    Palak  Female   40            Working Professional               Doctor
8    Aariv    Male   40            Working Professional                 Chef
9     Asha  Female   46            Working Professional  Mechanical Engineer

   Academic Pressure  Work Pressure  CGPA  Study Satisfaction  \
0                NaN            5.0   NaN                 NaN
1                NaN            4.0   NaN                 NaN
2                NaN            3.0   NaN                 NaN
3                NaN            1.0   NaN                 NaN
4                5.0            NaN  5.79                 4.0
5                NaN            2.0   NaN                 NaN
6                NaN            1.0   NaN                 NaN
7                NaN            2.0   NaN                 NaN
8                NaN            5.0   NaN                 NaN
9                NaN            4.0   NaN                 NaN

   Job Satisfaction     Sleep Duration Dietary Habits   Degree  \
0               5.0  Less than 5 hours        Healthy      MBA
1               1.0          7-8 hours        Healthy   M.Tech
2               1.0          7-8 hours       Moderate      MCA
3               3.0          5-6 hours      Unhealthy      BCA
4               NaN          5-6 hours        Healthy  M.Pharm
5               1.0          5-6 hours       Moderate      BBA
6               5.0          7-8 hours        Healthy      BSc
7               1.0          7-8 hours        Healthy     MBBS
8               4.0  Less than 5 hours        Healthy      BHM
9               2.0          5-6 hours        Healthy       BE

  Have you ever had suicidal thoughts ?  Work/Study Hours  Financial Stress  \
0                                    No                 3                 4
1                                   Yes                 4                 3
2                                   Yes                 2                 1
3                                   Yes                11                 4
4                                   Yes                 6                 4
5                                   Yes                 5                 1
6                                    No                 9                 4
7                                    No                11                 5
8                                    No                12                 1
9                                    No                 2                 2

  Family History of Mental Illness Depression
0                               No         No
1                               No         No
2                              Yes         No
3                               No         No
4                               No        Yes
5                              Yes         No
6                              Yes         No
7                               No         No
8                              Yes         No
9                               No         No

**5.Multi-Stage Sampling:**

Selects a random cluster and samples sample_size_per_cluster rows within it.
<br> Select one City cluster, then 5 samples within that city

In [9]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def multi_stage_sampling(data, cluster_by, sample_size_per_cluster):
    clusters = data[cluster_by].unique()
    selected_cluster = np.random.choice(clusters, size=1)[0]
    cluster_data = data[data[cluster_by] == selected_cluster]
    return cluster_data.sample(n=sample_size_per_cluster)

sample_multi_stage = multi_stage_sampling(data, 'City', 5)
print("Multi-Stage Sampling:\n", sample_multi_stage)

Multi-Stage Sampling:
         Name  Gender  Age       City Working Professional or Student  \
487     Riya  Female   24  Ahmedabad            Working Professional
1659   Kavya  Female   40  Ahmedabad            Working Professional
74    Shivam    Male   47  Ahmedabad            Working Professional
779   Bhavna  Female   32  Ahmedabad                         Student
1425  Charvi  Female   48  Ahmedabad            Working Professional

     Profession  Academic Pressure  Work Pressure  CGPA  Study Satisfaction  \
487     Teacher                NaN            1.0   NaN                 NaN
1659    Plumber                NaN            2.0   NaN                 NaN
74      Teacher                NaN            2.0   NaN                 NaN
779         NaN                2.0            NaN  5.99                 3.0
1425        NaN                NaN            3.0   NaN                 NaN

      Job Satisfaction     Sleep Duration Dietary Habits    Degree  \
487                3.0  Less than 5 hours        Healthy      B.Ed
1659               5.0  More than 8 hours        Healthy       MCA
74                 1.0          7-8 hours        Healthy    B.Arch
779                NaN          7-8 hours       Moderate    B.Arch
1425               5.0          5-6 hours        Healthy  Class 12

     Have you ever had suicidal thoughts ?  Work/Study Hours  \
487                                     No                 9
1659                                    No                10
74                                     Yes                11
779                                     No                 6
1425                                   Yes                 4

      Financial Stress Family History of Mental Illness Depression
487                  1                              Yes         No
1659                 5                              Yes         No
74                   1                               No         No
779                  1                               No         No
1425                 4                              Yes         No

### Non probability sampling methods:

**1. Convenience Sampling**

Convenience sampling involves selecting the easiest samples from the population, usually the first few rows of the dataset.

Select the first 10 rows as the sample

In [11]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def convenience_sampling(data, sample_size):
    return data.head(sample_size)

sample_convenience = convenience_sampling(data, 10)
print("Convenience Sampling:\n", sample_convenience)

Convenience Sampling:
       Name  Gender  Age       City Working Professional or Student  \
0    Pooja  Female   37  Ghaziabad            Working Professional
1  Reyansh    Male   60     Kalyan            Working Professional
2    Manvi  Female   42     Bhopal            Working Professional
3     Isha  Female   44      Thane            Working Professional
4    Aarav    Male   48     Indore            Working Professional
5    Sanya  Female   60     Bhopal            Working Professional
6     Zara  Female   30       Pune            Working Professional
7    Kiran    Male   30  Bangalore            Working Professional
8     Kush    Male   56  Hyderabad            Working Professional
9   Damini  Female   35   Srinagar            Working Professional

          Profession  Academic Pressure  Work Pressure  CGPA  \
0            Teacher                NaN            2.0   NaN
1  Financial Analyst                NaN            4.0   NaN
2            Teacher                NaN            2.0   NaN
3            Teacher                NaN            3.0   NaN
4     UX/UI Designer                NaN            4.0   NaN
5     Civil Engineer                NaN            1.0   NaN
6         Accountant                NaN            4.0   NaN
7            Teacher                NaN            1.0   NaN
8             Lawyer                NaN            1.0   NaN
9     Content Writer                NaN            3.0   NaN

   Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                 NaN               4.0          7-8 hours       Moderate
1                 NaN               3.0          5-6 hours      Unhealthy
2                 NaN               3.0          5-6 hours       Moderate
3                 NaN               5.0          7-8 hours        Healthy
4                 NaN               3.0          7-8 hours       Moderate
5                 NaN               4.0          7-8 hours      Unhealthy
6                 NaN               2.0  More than 8 hours        Healthy
7                 NaN               2.0  More than 8 hours      Unhealthy
8                 NaN               2.0  More than 8 hours       Moderate
9                 NaN               4.0  Less than 5 hours       Moderate

  Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0     MA                                    No                 6
1  B.Com                                   Yes                 0
2  M.Com                                    No                 0
3     MD                                   Yes                 1
4     BE                                   Yes                 6
5    MCA                                   Yes                12
6  M.Com                                    No                 3
7     BA                                   Yes                 6
8    LLM                                   Yes                11
9    BCA                                    No                 6

   Financial Stress Family History of Mental Illness Depression
0                 2                               No         No
1                 4                              Yes         No
2                 2                               No         No
3                 2                              Yes         No
4                 5                              Yes         No
5                 3                              Yes         No
6                 1                               No         No
7                 1                               No         No
8                 5                              Yes         No
9                 4                              Yes         No

**2. Judgmental (Purposive) Sampling**

This method involves selecting samples based on specific criteria or judgment, often by the researcher’s expertise.

Select rows where 'Gender' is 'Female'

In [13]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def judgmental_sampling(data, condition, sample_size):
    filtered_data = data.query(condition)
    return filtered_data.head(sample_size)  


sample_judgmental = judgmental_sampling(data, "Gender == 'Female'",10)
print("Judgmental (Purposive) Sampling:\n", sample_judgmental)

Judgmental (Purposive) Sampling:
        Name  Gender  Age       City Working Professional or Student  \
0     Pooja  Female   37  Ghaziabad            Working Professional
2     Manvi  Female   42     Bhopal            Working Professional
3      Isha  Female   44      Thane            Working Professional
5     Sanya  Female   60     Bhopal            Working Professional
6      Zara  Female   30       Pune            Working Professional
9    Damini  Female   35   Srinagar            Working Professional
15   Charvi  Female   51      Thane            Working Professional
18    Palak  Female   60   Varanasi            Working Professional
21    Vibha  Female   51    Chennai            Working Professional
24  Anushka  Female   46  Hyderabad            Working Professional

         Profession  Academic Pressure  Work Pressure  CGPA  \
0           Teacher                NaN            2.0   NaN
2           Teacher                NaN            2.0   NaN
3           Teacher                NaN            3.0   NaN
5    Civil Engineer                NaN            1.0   NaN
6        Accountant                NaN            4.0   NaN
9    Content Writer                NaN            3.0   NaN
15          Teacher                NaN            3.0   NaN
18        Architect                NaN            4.0   NaN
21       HR Manager                NaN            5.0   NaN
24  Sales Executive                NaN            2.0   NaN

    Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                  NaN               4.0          7-8 hours       Moderate
2                  NaN               3.0          5-6 hours       Moderate
3                  NaN               5.0          7-8 hours        Healthy
5                  NaN               4.0          7-8 hours      Unhealthy
6                  NaN               2.0  More than 8 hours        Healthy
9                  NaN               4.0  Less than 5 hours       Moderate
15                 NaN               3.0  Less than 5 hours      Unhealthy
18                 NaN               1.0  Less than 5 hours      Unhealthy
21                 NaN               5.0          5-6 hours        Healthy
24                 NaN               3.0          5-6 hours        Healthy

    Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0       MA                                    No                 6
2    M.Com                                    No                 0
3       MD                                   Yes                 1
5      MCA                                   Yes                12
6    M.Com                                    No                 3
9      BCA                                    No                 6
15     LLB                                    No                 9
18  B.Arch                                    No                10
21      ME                                    No                11
24     MBA                                    No                 5

    Financial Stress Family History of Mental Illness Depression
0                  2                               No         No
2                  2                               No         No
3                  2                              Yes         No
5                  3                              Yes         No
6                  1                               No         No
9                  4                              Yes         No
15                 1                               No         No
18                 5                              Yes         No
21                 2                               No         No
24                 5                              Yes         No

**3. Quota Sampling**

Quota sampling divides the population into subgroups and selects a predetermined number of samples from each subgroup.

Stratify by 'Gender', selecting 5 samples from each gender group

In [16]:
import pandas as pd
import numpy as np
data  = pd.read_csv('C:\\Users\\DELL G15\\Downloads\\archive (4)\\final_depression_dataset_1.csv')
def quota_sampling(data, stratify_by, sample_size_per_group):
    strata = data.groupby(stratify_by, group_keys=False)
    quota_sample = strata.apply(lambda x: x.sample(n=sample_size_per_group), include_groups=False).reset_index(drop=True)
    return quota_sample

sample_quota = quota_sampling(data, 'Gender', 5)
print("Quota Sampling:\n", sample_quota)

Quota Sampling:
        Name  Age      City Working Professional or Student  \
0  Karishma   45     Patna            Working Professional
1     Divya   37    Kalyan            Working Professional
2      Tina   49  Varanasi            Working Professional
3    Yashvi   38     Delhi            Working Professional
4    Prachi   50    Indore            Working Professional
5     Harsh   57   Chennai            Working Professional
6    Advait   34  Srinagar            Working Professional
7     Kabir   53  Varanasi            Working Professional
8     Rudra   52    Meerut            Working Professional
9  Pratyush   26     Delhi                         Student

            Profession  Academic Pressure  Work Pressure  CGPA  \
0              Chemist                NaN            5.0   NaN
1              Teacher                NaN            1.0   NaN
2         Entrepreneur                NaN            1.0   NaN
3          Electrician                NaN            1.0   NaN
4         Entrepreneur                NaN            5.0   NaN
5  Finanancial Analyst                NaN            2.0   NaN
6              Teacher                NaN            2.0   NaN
7              Teacher                NaN            4.0   NaN
8     Digital Marketer                NaN            3.0   NaN
9                  NaN                4.0            NaN  5.35

   Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                 NaN               4.0          7-8 hours       Moderate
1                 NaN               1.0  Less than 5 hours       Moderate
2                 NaN               1.0  More than 8 hours        Healthy
3                 NaN               4.0  Less than 5 hours      Unhealthy
4                 NaN               2.0          7-8 hours        Healthy
5                 NaN               1.0  More than 8 hours        Healthy
6                 NaN               2.0          7-8 hours      Unhealthy
7                 NaN               5.0  More than 8 hours        Healthy
8                 NaN               3.0          5-6 hours        Healthy
9                 4.0               NaN          5-6 hours      Unhealthy

     Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0   B.Pharm                                   Yes                 0
1       MSc                                    No                10
2        BE                                   Yes                 4
3       BCA                                    No                 0
4       PhD                                   Yes                 5
5        BE                                    No                 2
6      M.Ed                                   Yes                 8
7      B.Ed                                   Yes                 5
8        MA                                    No                 3
9  Class 12                                    No                 9

   Financial Stress Family History of Mental Illness Depression
0                 5                               No         No
1                 1                              Yes         No
2                 1                               No         No
3                 2                               No         No
4                 5                               No         No
5                 4                               No         No
6                 3                              Yes         No
7                 5                              Yes         No
8                 2                              Yes         No
9                 1                              Yes         No

## **Thank You**